{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center mb-4 gap-3">
            <div>
                <h1 class="fs-3 mb-1">Edit Kas Keluar</h1>
                <p class="mb-0">Input data Kas Keluar baru</p>
            </div>


        <div>
            <a href="{% url 'kas_keluar' %}" class="btn btn-primary">
                Kembali ke Data Kas Keluar
            </a>
        </div>
    </div>
</div>


</div>

<div class="row">
    <div class="col-12">


    <div class="card">
        <div class="card-body p-4">

            <form method="POST">

                {% csrf_token %}

                <div class="row">

                    <div class="col-md-6 mb-3">
                        <label class="form-label">
                            Tanggal
                        </label>

                        <input
                            type="date"
                            name="tanggal"
                            class="form-control"
                            value="{{ kas.tanggal|date:'Y-m-d' }}"
                            required
                        >
                    </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label">
                        Jam
                    </label>

                    <input
                        type="time"
                        name="jam"
                        class="form-control"
                        value="{{ kas.jam|time:'H:i' }}"
                        required
                    >
                </div>

                </div>

                <div class="mb-3">
                    <label class="form-label">
                        Keterangan
                    </label>

                    <textarea
                        name="keterangan"
                        class="form-control"
                        rows="4"
                        required
                    >{{ kas.keterangan }}</textarea>

                </div>

                <div class="row">

                    <div class="col-md-6 mb-3">
                        <label class="form-label">
                            Jumlah
                        </label>

                        <input
                            type="number"
                            name="jumlah"
                            class="form-control"
                            value="{{ kas.jumlah }}"
                            required
                        >

                </div>

                <div class="d-flex gap-2">

                <button
                    type="submit"
                    class="btn btn-warning">
                    Update Data
                </button>

                    <button
                        type="reset"
                        class="btn btn-secondary"
                    >
                        Reset
                    </button>

                </div>

            </form>

        </div>
    </div>

</div>


</div>

<div class="row">
    <div class="col-12">
        <footer class="text-center py-2 mt-4 text-secondary">
            <p class="mb-0">
                Copyright © 2026 Sistem Informasi Keuangan
            </p>
        </footer>
    </div>
</div>

{% endblock %}
