{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
                <h1 class="fs-3 mb-1">Kas Masuk</h1>
                <p class="mb-0">Kelola data kas masuk</p>
            </div>


        <div>
            <a href="{% url 'tambah_kas_masuk' %}" class="btn btn-primary">
                Tambah Kas Masuk
            </a>
        </div>
    </div>
</div>


</div>

<div class="row">
    <div class="col-12">


            <form method="GET" class="d-flex gap-2 mb-3 flex-wrap justify-content-between">

        <input
            type="text"
            name="q"
            value="{{ request.GET.q }}"
            class="form-control"
            placeholder="Cari data Kas Keluar..."
            style="max-width: 250px;"
        >

        <div class="d-flex gap-2">

            <input
                type="date"
                name="tanggal_awal"
                value="{{ tanggal_awal }}"
                class="form-control"
            >

            <input
                type="date"
                name="tanggal_akhir"
                value="{{ tanggal_akhir }}"
                class="form-control"
            >

            <button type="submit"
                    class="btn btn-outline-secondary">
                <i class="ti ti-filter"></i> Filter
            </button>

            {% if tanggal_awal and tanggal_akhir %}
                <a href="{% url 'export_excel_kas_masuk' %}?tanggal_awal={{ tanggal_awal }}&tanggal_akhir={{ tanggal_akhir }}"
                class="btn btn-outline-secondary">
                    <i class="ti ti-file-excel"></i> Excel
                </a>
            {% else %}
                <a href="{% url 'export_excel_kas_masuk' %}" class="btn btn-outline-secondary">
                    <i class="ti ti-file-excel"></i> Excel
                </a>
            {% endif %}
            {% if tanggal_awal and tanggal_akhir %}
                <a href="{% url 'export_pdf_kas_masuk' %}?tanggal_awal={{ tanggal_awal }}&tanggal_akhir={{ tanggal_akhir }}" class="btn btn-outline-secondary">
                    <i class="ti ti-file-pdf"></i> PDF
                </a>
            {% else %}
                <a href="{% url 'export_pdf_kas_masuk' %}" class="btn btn-outline-secondary">
                    <i class="ti ti-file-pdf"></i> PDF
                </a>
            {% endif %}

        </div>

    </form>

    <div class="card table-responsive">

        <table class="table mb-0 table-hover">

            <thead class="table-light">
                <tr>
                    <th>Tanggal</th>
                    <th>Jam</th>
                    <th>Keterangan</th>
                    <th>Jumlah</th>
                    <th>User</th>
                    <th width="120">Aksi</th>
                </tr>
            </thead>

            <tbody>

                {% for item in data %}
                <tr>

                    <td>{{ item.tanggal }}</td>

                    <td>{{ item.jam }}</td>

                    <td>{{ item.keterangan }}</td>

                    <td>
                        Rp {{ item.jumlah }}
                    </td>

                    <td>{{ item.users }}</td>

                    <td>
                    <a href="{% url 'edit_kas_masuk' item.id %}">
                        <i class="ti ti-edit"></i>
                    </a>

                    <a
                        href="{% url 'hapus_kas_masuk' item.id %}"
                        class="link-danger"
                    >
                        <i class="ti ti-trash ms-2"></i>
                    </a>
                    </td>

                </tr>

                {% empty %}

                <tr>
                    <td colspan="6" class="text-center py-4">
                        Belum ada data kas masuk
                    </td>
                </tr>

                {% endfor %}

            </tbody>

            <tfoot>
                <tr>
                    <td colspan="6">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-end mb-0">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">
                                        Previous
                                    </a>
                                </li>

                                <li class="page-item active">
                                    <a class="page-link" href="#">
                                        1
                                    </a>
                                </li>

                                <li class="page-item disabled">
                                    <a class="page-link" href="#">
                                        Next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </td>
                </tr>
            </tfoot>

        </table>

    </div>

</div>


</div>

<div class="row">
    <div class="col-12">
        <footer class="text-center py-2 mt-4 text-secondary">
            <p class="mb-0">
                Copyright © 2026 Sistem Informasi Keuangan
            </p>
        </footer>
    </div>
</div>

{% endblock %}
